<tr>
  <td><%= post.title %></td>
  <td><%= post.description %></td>
  <td id="post_publish_<%= post.id %>"><%= link_to_function show_icon(post.published), "publish(#{post.id});" %></td>
  <td><%= show_icon(post.moderated) %></td>
  <td><%= link_to t(:show), post, class: 'btn', remote: true  %></td>
  <td><%= link_to t(:edit), edit_post_path(post), class: 'btn btn-primary', remote: true %></td>
  <td><%= link_to t(:destroy), post, method: :delete, class: 'btn btn-danger', remote: true %></td>
</tr>
