<%= render partial: 'posts' %>
<div class="page-header">
  <h2><%= I18n.t :listing_posts %> - <%= link_to I18n.t(:new_post), new_post_path, class: 'btn btn-success' %></h2>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= t :title %></th>
    <th><%= t :description %></th>
    <th><%= t :published  %></th>
    <th><%= t :moderated %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
    <td id="post_publish_<%= post.id %>"><%= link_to_function show_icon(post.published), "active(#{post.id}, '/publish');" %></td>
    <td id="post_moderated_<%= post.id%>"><%= link_to_function show_icon(post.moderated), "active(#{post.id}, '/moderated');" %></td>
    <td><%= link_to t(:show), post, class: 'btn'  %></td>
    <td><%= link_to t(:edit), edit_post_path(   post), class: 'btn btn-primary' %></td>
    <td><%= link_to t(:destroy), post_path(post.id), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @posts, previous_label: I18n.t(:previous), next_label: I18n.t(:next) %>
<br />

<%= link_to t(:new_post), new_post_path, class: 'btn btn-success' %>
