  <!DOCTYPE html>
  <html>
  <head>
    <title>Startonrails</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="preview">
    <div class="container">
      <p class="notice alert-info"><%= notice %></p>
      <p class="alert alert-error"><%= alert %></p>
      <div id="user_nav" class="nav-bar">
      <% if user_signed_in? %>
        Logado como <%= current_user.email %>. Não é você?
        <%= link_to 'Sair', destroy_user_session_path, :method => :delete %>
        </br>
        <%= link_to 'Post', posts_path %>
      <% else %>
        <%= link_to 'Registrar', new_user_registration_path %> ou <%= link_to 'Logar', new_user_session_path %>
      <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
  </html>
